openapi: "3.0.1"
info:
  title: "NVA Download Publication File API"
  version: "1.0"
servers:
- url: "https://api.sandbox.nva.aws.unit.no/{basePath}"
  variables:
    basePath:
      default: "/download"
paths:
  /public/{identifier}/files/{fileIdentifier}:
    get:
      parameters:
      - name: "identifier"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "fileIdentifier"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "404":
          description: "404 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "503":
          description: "503 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "200":
          description: "200 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL8cc888"
        "400":
          description: "400 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "500":
          description: "500 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
    options:
      parameters:
      - name: "identifier"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "fileIdentifier"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content: {}
  /{identifier}/files/{fileIdentifier}:
    get:
      parameters:
      - name: "identifier"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "fileIdentifier"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "503":
          description: "503 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "200":
          description: "200 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL316d32"
        "400":
          description: "400 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "401":
          description: "401 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "500":
          description: "500 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
      security:
      - CognitoUserPool:
        - "https://api.nva.unit.no/scopes/frontend"
        - "aws.cognito.signin.user.admin"
    options:
      parameters:
      - name: "identifier"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "fileIdentifier"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content: {}
components:
  schemas:
    MODEL8cc888:
      type: "object"
      properties: {}
    Problem:
      type: "object"
      properties:
        detail:
          type: "string"
        title:
          type: "string"
        status:
          type: "integer"
    MODEL316d32:
      type: "object"
      properties: {}
  securitySchemes:
    CognitoUserPool:
      type: "apiKey"
      name: "Authorization"
      in: "header"
      x-amazon-apigateway-authtype: "cognito_user_pools"
