openapi: "3.0.1"
info:
  title: "Api B"
  version: "1.0"
servers:
- url: "https://api.sandbox.nva.aws.unit.no/{basePath}"
  variables:
    basePath:
      default: "/pathB"
paths:
  /external:
    get:
      tags:
        - external
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalRequestSchema'
      responses:
        "200":
          description: "200 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalSchema"
  /non-external:
    get:
      responses:
        "200":
          description: "200 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalSchema"
components:
  schemas:
    ExternalRequestSchema:
      type: "object"
    ExternalSchema:
      type: "object"
      properties:
        tickets:
          type: "array"
          items:
            $ref: "#/components/schemas/NestedExternalSchema"
    NestedInternalSchema:
      type: "object"
    NestedExternalSchema:
      type: "object"
    InternalSchema:
      type: "object"
      properties:
        tickets:
          type: "array"
          items:
            $ref: "#/components/schemas/NestedInternalSchema"
  securitySchemes:
    SharedUserPool:
      type: "apiKey"
      name: "Authorization"
      in: "header"
      x-amazon-apigateway-authtype: "cognito_user_pools"