openapi: "3.0.1"
info:
  title: "NVA Public Search API"
  description: "Public search API for resources in NVA. The API is backed by Amazon\
    \ OpenSearch and uses [OpenSearch query syntax](https://opensearch.org/docs/latest/opensearch/query-dsl/full-text/).\n\
    ## Path Parameters\n* **query** - a string containing a valid opensearch query\
    \ expression\n* **orderBy** - Indexed field to order results by\n* **sortOrder**\
    \ - The order defaults to *desc* when sorting on the _score, and defaults to *asc*\
    \ when sorting on anything else.\n* **from** - starting position of result\n*\
    \ **results** - integer number of results returned"
  version: "0.2.0"
servers:
- url: "https://api.sandbox.nva.aws.unit.no/{basePath}"
  variables:
    basePath:
      default: "/search"
paths:
  /tickets:
    get:
      parameters:
      - name: "index"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "results"
        in: "query"
        schema:
          type: "string"
      - name: "from"
        in: "query"
        schema:
          type: "string"
      - name: "viewingScope"
        in: "query"
        schema:
          type: "string"
      responses:
        "200":
          description: "200 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL6c9d8d"
      security:
      - CognitoUserPool:
        - "https://api.nva.unit.no/scopes/frontend"
    options:
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content: {}
  /resources:
    get:
      parameters:
      - name: "query"
        in: "query"
        schema:
          type: "string"
      - name: "sortOrder"
        in: "query"
        schema:
          type: "string"
      - name: "results"
        in: "query"
        schema:
          type: "string"
      - name: "orderBy"
        in: "query"
        schema:
          type: "string"
      - name: "from"
        in: "query"
        schema:
          type: "string"
      responses:
        "404":
          description: "404 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "200":
          description: "200 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Publication"
        "400":
          description: "400 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "500":
          description: "500 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
    options:
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content: {}
components:
  schemas:
    Publication:
      type: "object"
      properties:
        owner:
          type: "string"
        publicationType:
          type: "string"
        description:
          type: "string"
        abstract:
          type: "string"
          description: "short abstract of content"
        title:
          type: "string"
        tags:
          type: "array"
          items:
            type: "string"
        reference:
          type: "object"
          properties:
            publicationInstance:
              type: "object"
              properties:
                volume:
                  type: "string"
                pages:
                  type: "object"
                  properties:
                    illustrated:
                      type: "boolean"
                    pages:
                      type: "string"
                    end:
                      type: "string"
                    type:
                      type: "string"
                    begin:
                      type: "string"
                issue:
                  type: "string"
                articleNumber:
                  type: "string"
                textbookContent:
                  type: "boolean"
                peerReviewed:
                  type: "boolean"
                type:
                  type: "string"
            type:
              type: "string"
            publicationContext:
              type: "object"
              properties:
                level:
                  type: "string"
                openAccess:
                  type: "boolean"
                peerReviewed:
                  type: "boolean"
                publisher:
                  type: "string"
                linkedContext:
                  type: "string"
                title:
                  type: "string"
                onlineIssn:
                  type: "string"
                type:
                  type: "string"
                printIssn:
                  type: "string"
                url:
                  type: "string"
                seriesTitle:
                  type: "string"
            doi:
              type: "string"
        modifiedDate:
          type: "string"
          format: "date"
        publisher:
          type: "object"
          properties:
            name:
              type: "string"
            id:
              type: "string"
        publishedDate:
          type: "string"
          format: "date"
        contributors:
          type: "array"
          description: "List of contributing people"
          items:
            type: "object"
            properties:
              name:
                type: "string"
              id:
                type: "string"
        id:
          type: "string"
        publicationDate:
          type: "object"
          properties:
            month:
              type: "string"
            year:
              type: "string"
            type:
              type: "string"
            day:
              type: "string"
        alternativeTitles:
          type: "array"
          description: "short abstract of content"
          items:
            type: "string"
        doi:
          type: "string"
      description: "Structure returned from successful seach"
    Problem:
      type: "object"
      properties:
        requestId:
          type: "string"
          description: "Identifier of the request causing the problem"
        detail:
          type: "string"
          description: "details of problem"
        title:
          type: "string"
          description: "Title"
        status:
          type: "integer"
          description: "Kind of problem"
          format: "int32"
      description: "Problem object model"
    MODEL6c9d8d:
      type: "object"
  securitySchemes:
    CognitoUserPool:
      type: "apiKey"
      name: "Authorization"
      in: "header"
      x-amazon-apigateway-authtype: "cognito_user_pools"
